body{
    background-color: #252525;
    overflow-x: hidden;
}

h1{
    color: #f7f8f7;
    position: relative;
    left: 45%;
}
.tablero{
    width: 100vw;
    height: 85vh;
    background-color: #53c959;
    border: 1px solid #f5efef; 
    position: absolute;
}

.jugador1{
    display: block;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 15px;
}
.jugador2{
    display: block;
    background-color: #ffffff;
    position: absolute;
    left: 49.5%;
}

.jugador3{
    display: block;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    right: 15px;
}

.jugador4{
    display: block;
    background-color: #ffffff;
    position: absolute;
    left: 51.5%;
    bottom: 1px;
}
#btn{
    position: absolute;
    left: 50%;
    top: 50%;
    cursor: pointer;
}

#cartas-j1 {
    position: absolute;
    left: 89px;
    z-index: 1000;
    top: 45%;
    border: 2px solid #000000;
    height: 65px;
    width: 100px;
}

#cartas-j2 {
    position: absolute;
    left: 49.5%;
    z-index: 1000;
    top: 4%;
    border: 2px solid #000000;
    height: 100px;
    width: 65px;
}
   

#cartas-j3 {
    position: absolute;
    right: 89px;
    z-index: 1000;
    top: 45%;
    border: 2px solid #000000;
    height: 65px;
    width: 100px;
}
  

#cartas-j4 {
    position: absolute;
    left: 49.5%;
    z-index: 1000;
    bottom: 4%;
    border: 2px solid #000000;
    height: 100px;
    width: 65px;
}

#hidden-j1{
    height: 65px;
    width: 100px;
}

#hidden-j2{
    height: 100px;
    width: 65px;
}

#hidden-j3{
    height: 65px;
    width: 100px;
}

#hidden-j4{
    height: 100px;
    width: 65px;
}